@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* For debugging: border: 1px dashed #333;  */
* {
  margin: 0;
  font-family: "Inter";
  color: #333;
}

.App {
  /* border: 1px dashed #333; */
  margin-left: 4%;
  margin-right: 4%;
}

.logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* TODO - remove .message below once website is complete */
.introduction, .message{
  text-align: center;
  padding-top: 2%;
  padding-left: 28%;
  padding-right: 28%;
}

a:hover {
  color: #7d7d7d;
}

.iconRow img {
  width: 50px;
  margin-right: 10px;
}

.iconRow {
  /* border: 1px dashed #333; */
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.navbar {
  /* border: 1px dashed #333; */
  flex-direction: column;
  margin-top: 2%;
  margin-left: 40%;
  margin-right: 40%;
}

.navbar button {
  /* location */
  margin-top: 3%;
  /* style */
  width: 100%; /* Make buttons span the entire width of the navbar */
  background-color:#333;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  font-size:medium;
  font-family: QuickSand;
  /* click */
  cursor: pointer;
  transition-duration: 0.4s;
}

.navbar button:hover {
  background-color: #5a5a5a;
  color: white;
}